header {
    align-items: center;
    background: #f9f9f9;
    justify-content: space-between;
    padding-left: 2rem;
    padding-right: 2rem;
}
header nav ul {
    display: flex;
}
header nav ul li {
    list-style: none;
}